<h3>Exception Handling</h3>
<hr />

@*<div class="alert alert-danger">
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <p>@ViewBag.StackTrace</p>
</div>*@

